.form-login{
    max-width: 400px;
    max-height: 700px;
    align-content: center;
    margin: auto;
    margin-top: 10%;
}
.card-panel{
    border-radius: 0 !important;
    background-color: #42A5F5 !important;
}
.full-width{
    min-width: 100% !important;
    margin-top: 24px;
    // margin: 24px, 48px, 24px, 24px;
}
td{
    padding: 5px !important;
}
.modal-edit-user{
    width: 480px !important;
    max-height: 80% !important;
    overflow-y: unset;
}
.modal{
    z-index: 1003;
    // display: block;
    opacity: 1;
    top: 10%;
    transform: scaleX(1) scaleY(1);
    height: 100%;
    width: 100%;
    overflow-y: unset;
}
.modal-overlay {
    position: fixed;
    z-index: 999;
    top: -25%;
    left: 0;
    bottom: 0;
    right: 0;
    height: 125%;
    width: 100%;
    background: #c3c3c3;
    display: none;
    will-change: opacity;
    opacity: .9;
}
