.form-login{
    max-width: 400px;
    max-height: 700px;
    align-content: center;
    margin: auto;
    margin-top: 10%;
}
.card-panel{
    border-radius: 0 !important;
    background-color: $primary-color !important;
}
.full-width{
    min-width: 90% !important;
    margin-top: 24px;
    // margin: 24px, 48px, 24px, 24px;
}
td{
    padding: 5px !important;
}
.modal-edit-user{
    width: 480px !important;
    max-height: 80% !important;
    overflow-y: unset;
}
.modal{
    z-index: 1003;
    // display: block;
    opacity: 1;
    top: 10%;
    transform: scaleX(1) scaleY(1);
    height: 100%;
    width: 100%;
    overflow-y: unset;
}
.modal-overlay {
    position: fixed;
    z-index: 999;
    top: -25%;
    left: 0;
    bottom: 0;
    right: 0;
    height: 125%;
    width: 100%;
    background: #c3c3c3;
    display: none;
    will-change: opacity;
    opacity: .9;
}
.main-container{
    margin-left: 8px !important;
    margin-right: 8px !important;
}
.overflow-x{
    overflow-y: auto !important;
}
table{
    width: 90% !important;
    margin: auto !important;
    padding: 14px !important;
}
div .pagination{
    margin: auto !important;
    padding: 5px !important;
    text-align: right;
}
.el-message-box__title {
    padding-left: 0 !important;
    margin-bottom: 0 !important;
    font-size: 24px !important;
    line-height: 1 !important;
    color: #303133 !important;
}
.el-message-box__status {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 36px!important;
}
.el-message-box__content {
    padding: 10px 15px !important;
    color: #606266 !important;
    font-size: 18px !important;
}
.el-message-box {
    width: 500px !important;
}
@media only screen and (max-width: 360px) {
    .el-message-box {
        width: 320px !important;
    }
  }
.swal2-styled.swal2-confirm{
    text-decoration: none !important;
    color: $button-raised-color !important;
    background-color: $button-raised-background !important;
    text-align: center !important;
    letter-spacing: .5px !important;
    @extend .z-depth-1;
    transition: background-color .2s ease-out !important;
    cursor: pointer !important;
    &:hover {
        background-color: $button-raised-background-hover !important;
        @extend .z-depth-1-half;
    }
}

main {
    min-height: 70vh !important;
}
header, main, .page-footer {
    padding-left: 300px;
  }

@media only screen and (max-width : 992px) {
    header, main, .page-footer {
        padding-left: 0;
    }
}

.footer-copyright{
    padding-right: 14px !important;
}

.background-color{
    background-color: $primary-color;
}
div .pagination{
    margin-top: 8px !important;
    padding: 5px !important;
    text-align: right;
}

